.app-header {}

.header-top-bar {
    padding: 0 140px;
    height: 40px;
    background-color: #505357;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

}

.header-top-left-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-grow: 1;
}

.header-top-mid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    justify-content: center;

}

.header-top-right-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-top-mid-container span {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #ECECEC80;

}

.header-top-button {
    background: none;
    border: none;
    color: white;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
}

.header-main-container {
    height: 72px;
    padding: 0 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-left-container {
    display: flex;
    align-items: center;
}

.header-logo {
    height: 28px;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 50px;
    padding: 10px 20px;
    flex: 1;
    border: 1px solid transparent;
}

.search-icon {
    color: #b0b0b0;
    margin-right: 10px;
}

.search-bar-wrapper input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #333;
}

.header-nav-menu {
    height: 48px;
    padding: 0 140px;
}