/* .app-header {} */

/* app/assets/css/main.css */

/* Tüm elementler için kutu modelini düzeltir */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Genel Body Ayarları */
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2A2A48;
}

a {
    text-decoration: none;
    color: inherit;
}

